@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body{ /* Normal  */
  font-family: 'Lato', sans-serif;
}

pre.sourceCode{
  font-size: .8em;
}

pre > code{
  font-size: 10pt;
}

code {
  color: #1E0A6E;
}
